{% extends 'businesscalculator/base.html' %}

{% block content %}
    <br>
    <ul class="list-articles">
        <h1>Немного об этом невероятном проекте</h1>
    </ul>
    <br>
    <div class="container text-left">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
          <p>Данное веб-приложение было написано двумя начинающими программистами, студентами факультета "Инженерный
              бизнес и менеджмент" МГТУ им. Н. Э. Баумана, будущими web-разработчиками крупнейших <s>мировых</s>
              российских IT гигантов в рамках дипломного проекта Цифровой кафедры.</p>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
    <div class="container text-left">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-5">
            <div class="card">
                <img src="/static/businesscalculator/boyarkin.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Бояркин Сергей</h5>
                  <p class="card-text">Back-end разработчик, который создал модели данных, настроил администрирование
                  сайта, занимался серверной логикой приложения</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Студент группы ИБМ2-61Б</small>
                </div>
            </div>
        </div>
          <div class="col-5">
              <div class="card">
                <img src="/static/businesscalculator/nemerov.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Немеров Егор</h5>
                  <p class="card-text">Front-end разработчик, который создал шаблоны страниц, формы для внесения данных
                  на сервер, разработал структуру сайта</p>
                </div>
                <div class="card-footer">
                  <small class="text-body-secondary">Студент группы ИБМ2-61Б</small>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
      </div>
    </div>
        <br>
    <div class="container text-left">
      <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <p>На самом деле, данное распределение ролей носит весьма <b>условный</b> характер. Поскольку мы работали сообща и
          пытались получить некий цельный продукт, то, естественно, помогали друг другу, брали на себя ответственность
          в выполнении обязанностей партнёра по проекту и старались понять, что из себя будет представлять конечный
          результат.</p>
            <h3>Почему именно такая тема?</h3>
            <p>Ответ на этот вопрос найти несложно. Достаточно лишь посмотреть на название нашей кафедры <i>"Экономика и
                организация производства"</i>.</p>
            <p>Во время обдумывания идеи мы как раз готовились к очередной лекции по бухгалтерскому учёту и решили взять
            за основу то, в чём мы неплохо разбираемся и что нам по-настоящему интересно.</p>
            <div class="container text-center">
              <div class="row">
                <div class="col">
                </div>
                <div class="col-10">
                  <img src="/static/businesscalculator/about.jpg" class="card-img-top rounded" alt="...">
                </div>
                <div class="col">
                </div>
              </div>
            </div>
            <br>
            <p class="justify"><big>Возможно, наше первое веб-приложение и не получилось идеальным, но это дало нам незабываемый опыт и возможность
            почувствовать себя настоящими разработчиками. Теперь мы чуть лучше понимаем специфику профессии, а также то,
            в каком направлени нам стоит развиваться и куда расти. Хотелось бы выразить отдельную благодарность руководству
                Цифровой кафедры МГТУ им Н. Э. Баумана и нашим преподавателям - Романову Ивану и Ефремову Егору.</big></p>
            <br>
        </div>
        <div class="col">
        </div>
      </div>
    </div>



{% endblock %}