{% extends 'businesscalculator/base.html' %}

{% block content %}
{% for i in statement_report %}
    <br>
    <ul class="list-articles">
    <h1 >Отчёт за {{ i.year }}-й год, данные для которого были добавлены {{ i.date }}</h1>
    </ul>
<div class="container text-center">
  <div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">
              <br>
            <p class="h3">Краткая информация о компании</p>
            <table class="table table-bordered border-success">
          <thead>
            <tr>
              <th scope="col">Характеристика</th>
              <th scope="col">Значение</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Наименование компании</td>
              <td>{{ i.company.name }}</td>
            </tr>
            <tr>
              <td scope="row">Год основания</td>
              <td>{{ i.company.year }}</td>
            </tr>
            <tr>
              <td scope="row">Основатель компании</td>
              <td>{{ i.company.founder }}</td>
            </tr>
            <tr>
              <td scope="row">Дата регистрации на сайте</td>
              <td>{{ i.company.registration_date }}</td>
            </tr>
            <tr>
              <td scope="row">Организационно-правовая форма</td>
              <td>{{ i.company.form }}</td>
            </tr>
            <tr>
              <td scope="row">Отрасль</td>
              <td>{{ i.company.industry }}</td>
            </tr>
            <tr>
              <td scope="row">Основной вид деятельности</td>
              <td>{{ i.company.activity }}</td>
            </tr>
            <tr>
              <td scope="row">Адрес электронной почты</td>
              <td>{{ i.company.email }}</td>
            </tr>
            <tr>
              <td scope="row">Телефон</td>
              <td>{{ i.company.tel }}</td>
            </tr>
          </tbody>
        </table>
              <br>
              <p class="h3">Данные отчёта о финансовых результатах</p>
        <table class="table table-bordered border-success">
          <thead>
            <tr>
              <th scope="col">Наименование показателя</th>
              <th scope="col">Описание</th>
              <th scope="col">Значение</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Отчётный период</td>
              <td>Отчетным периодом для годовой бухгалтерской (финансовой) отчетности (отчетным годом) является
                  календарный год - с 1 января по 31 декабря включительно, за исключением случаев создания,
                  реорганизации и ликвидации юридического лица.</td>
              <td>{{ i.year }}</td>
            </tr>
            <tr>
              <td scope="row">Выручка компании</td>
              <td> Денежные средства, которые компания получает от реализации своих товаров и услуг за определенный
                  срок. Выручкой считаются поступления только от основной деятельности, а другие поступления
                  называют доходами.</td>
              <td>{{ i.revenue }}</td>
            </tr>
            <tr>
              <td scope="row">Себестоимость реализованных товаров или продукции</td>
              <td>Себестоимость реализованных товаров или продукции представляет собой стоимость всех проданных
                  за период единиц  запасов. Порядок определения стоимости реализованных запасов сильно зависит
                  от способа ведения учета запасов. Существует два метода учета запасов: периодический и непрерывный.
                  Согласно периодическому способу учет постоянно ведется только операций прихода товара (закупок),
                  а себестоимость реализованных товаров определяется с помощью проведения инвентаризации в конце месяца.
                  Согласно непрерывному способу учитывается каждая операция по приходу и расходу товара.</td>
                <td>{{ i.returns }}</td>
            </tr>
          <tr>
              <td scope="row">Величина коммерческих расходов</td>
              <td>К группе коммерческих расходов относятся все расходы, необходимые для организации сбыта продукции.
                  Сюда включаются расходы на рекламу, жалованье продавцов, износ оборудования, используемого для целей
                  реализации, проездные расходы и т.п.</td>
              <td>{{ i.oper_exp }}</td>
            </tr>
          <tr>
              <td scope="row">Величина прочих расходов</td>
              <td>Прочими расходами организации являются расходы, связанные с продажей, выбытием и прочим списанием
                  основных средств и иных активов, отличных от денежных средств (кроме иностранной валюты), товаров,
                  продукции.</td>
              <td>{{ i.other_costs }}</td>
            </tr>
          <tr>
              <td scope="row">Величина налога на прибыль</td>
              <td>Текущий налог на прибыль — это сумма, которая фактически подлежит уплате в бюджет. Он определяется
                  исходя из налоговой базы по налогу на прибыль. Базу по налогу на прибыль определяют как разницу
                  между доходами и расходами.</td>
              <td>{{ i.taxes }}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-1">

    </div>
  </div>
</div>
<div class="container text-left">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-10">
      <br>
        <p class="h5">Дополнительный комментарий от пользователя</p>
        <div class="card mb-4">
          <div class="card-body">
            <p>{{ i.comment }}</p>
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
              </div>
              <div class="d-flex flex-row align-items-center">
              </div>
            </div>
          </div>
        </div>
        <br>
    </div>
    <div class="col">

    </div>
  </div>
</div>
{% endfor %}



    <div class="container text-left">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-10">
            <p class="h5">Комментарии от экспертов</p>
        <br>
            {% for i in report %}
            <div class="card mb-4">
              <div class="card-body">
                <p>{{ i.comment }}</p>
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                  </div>
                  <div class="d-flex flex-row align-items-center">
                  </div>

                </div>
              </div>
            </div>
                <p><i>{{ i.expert.surname }} {{ i.expert.name }} {{ i.expert.last_name }} ({{ i.date }})</i></p>
            <br>
                {% endfor %}
        </div>
        <div class="col">

        </div>
      </div>
    </div>

    <div class="container text-left">
      <div class="row">
        <div class="col">

        </div>
        <div class="col-10">
           <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Оставить комментарий
      </a>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                {% block head %}

                {% endblock %}
                {% for f in form %}
                   <p> <div class="input-group mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-default">{{ f.label }}</span>
                      {{ f }}
                    </div> </p>
                    <div class="form-error"> {{form.non_field_errors }}</div>
                {% endfor %}
                <p><button type="submit" class="btn btn-success">Добавить</button></p>
            </form>
          </div>
        </div>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
{% endblock %}